<p>welcome to wishlist!</p>
<h4>your wishlist items:</h4>
<button (click)="backToDash()">Back to Dashboard</button>
@for(prod of newListWishlist; track prod.id; let i = $index){
    <div class="card text-bg-light mx-3">
        <div class="card-body text-center">
            <table>
             <td>
        <span><b>Product Name</b></span><tr> {{prod.name}}</tr>
        <span><b>Product Description</b></span><tr> {{prod.desc}}</tr>
        <span><b>Product Price</b></span><tr> {{prod.price}}</tr>
        <span><b>Product Rating</b></span><tr> {{prod.rating}}</tr>
             </td>    
            </table>
        </div>
    </div>

<button (click)="deleteFormWishlist(i)">Delete Form Wishlist</button>
<br>
}