<div class="example-wrapper">
    <h3>Add Products</h3>  
<section class="container">
    
    <div class="card text-bg-light mx-3">
        <div class="card-body text-center">
    <form class="form" [formGroup]="reactiveForm">
        <br>

        <div class="column">
            <div class="input-box">
                <span>Enter Product Name</span><br><input type="text" placeholder="Name" formControlName="name"/>
            </div>
        </div>

        <br>

        <div class="column">
            <div class="input-box">
                <span>Enter Description</span><br><input type="text" placeholder="Description" formControlName="description"/>
            </div>
        </div>

        <br>

        <div class="column">
            <div class="input-box">
                <span>Enter Price</span><br><input type="number" placeholder="Price" formControlName="price"/>
            </div>
        </div>

        <br>

        <div class="column">
            <div class="input-box">
                <span>Enter Rating</span><br><input type="number" placeholder="Rating" formControlName="rating"/>
            </div>
        </div><br>

        <div class="column">
            <span>Upload Image</span>
        </div>

        <div class="column">
            <div class="input-box" style="margin-left: 100px;">
                <input type="file" (change)="uploadImageChange($event)" placeholder="UploadFile" formControlName="image"/>
            </div>
        </div>
        
    </form>
</div></div>
    <button (click)="saveProduct()">Save Product</button>
</section><br>

<button (click)="closePopUp()">Cancel</button>

</div>