<h1>Invoice</h1>
<button (click)="backToDash()">Back to Dashboard</button>
<button (click)="backToCart()">Back to Cart</button><br>

<p>Total Price: {{totalPrice | number}}</p>
<p>GST: {{totalPrice*0.18  | number}}</p>

@if(showDiscount){
    <p>Discount: -{{totalPrice*0.15  | number}}</p>
}

<h3>CheckOut Amount: {{(totalPrice + totalPrice*0.18) - discount| number}}</h3>

<form class="form" [formGroup]="reactiveForm">
    <div class="column">
        <div class="input-box">
            <span>Enter Coupon Code</span><br><input type="text" placeholder="CouponCode-15OFF" formControlName="coupon"/>
        </div>
    </div>
</form>
<br>
<button (click)="addCoupon()">Add Coupon</button> <br>
<br>
<button (click)="checkOut()">Place your Order</button>
