@if(!addProdVal){
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@ag-grid-community/styles@32.3.2/ag-grid.css" />
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@ag-grid-community/styles@32.3.2/ag-theme-quartz.css" />

<p>welcome to dashboard!</p>

<div class="example-wrapper">
  
<ag-grid-angular  
      style="width: 100%; height: 370px;"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [rowData]="rowData"
      [class]="themeClass"
      (gridReady)="onGridReady($event)"
      [pagination]="true"
      [paginationPageSize]=5
      [paginationPageSizeSelector]="paginationPageSizeSelector"/>
</div>
<br>
<button class="button" (click)="openAddProduct()">Add Product</button>

}
@if(addProdVal){ 
<div class="example-wrapper">
  <app-add-product></app-add-product>
</div>
}
